#about-me {
  background-color: var(--secondary-color);
}

#about-me .section {
  display: flex;
}

#about-pic-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-img {
  width: 538px;
  border-radius: 1000000px;
}

#about-container {
  /* width: 60%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: justify;
}

#about-me-title{
  color: var(--fourth-color-);
}

#about-me-text {
  color: white;
  width: 600px;
  font-weight: 300;
}

/* Mobile version */

@media screen and (max-width: 768px) {
  #about-me .section {
      height: 1000px;
      background-color: var(--secondary-color);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #about-pic-container {
      width: 100%;
      margin-bottom: 20px;
  }

  #about-img {
      width: 320px;
      height: 327px;
  }

  #about-me-title {
      color: white;
      font-weight: 500;
      font-size: 30px;
  }

  #about-me-text {
      width: 270px;
      color: white;
      font-weight: 300;
      font-size: 15px;
      line-height: 18.15px;
  }
}