.sticky {
  position: fixed !important;
  background-color: white;
  left: 0;
}

#menu {
  height: 108px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  font-weight: bold;
  font-size: large;
  background-color: #000E0E;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  box-shadow: 0px 2px 2px #00D1C7;
}

#menu h1 {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
  white-space: nowrap;
}

#mobile-menu {
  display: none;
}

.menu-holder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 48px;
}

.link {
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.hidden-desktop {
  display: none;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 980px;
  padding: 0 108px;
  background: var(--primary-color);
  /* background-image: var(--main-header);
background-size: cover;
background-repeat: no-repeat;
background-position: center; */
}

#ownname {
  color: #00D1C7;
}

#content-header {
  font-size: 52px;
  font-weight: 700;
}

#sub-header {
  font-size: 52px;
  font-weight: 500;
}

#about-me-btn {
  color: #00D1C7;
  padding: 12px 32px;
  background-color: var(--primary-color);
  border-radius: 6px;
  border-color: #00D1C7;
  border-style: solid;
  border-width: 5px;
  scroll-behavior: smooth;
}

#victor-logo {
  height: 28px;
  width: 39px;
  margin-right: 10px;
}

#logo-container {
  height: auto;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact-me {
  height: 47px;
  width: 186px;
  display: flex;
  color: #FFFFFF;
  justify-content: center;
  align-items: center;
  background: #00D1C7;
  border-radius: 6px;
  font-weight: 500;
}

#cc-icon {
  margin-left: 5px;
}

#icon,
#icon-night {
  position: absolute;
  top: 140px;
  right: 0;
  color: #FFFFFF;
  height: 60px;
  width: 60px;
  background: var(--text-primary);
  border-radius: 6px 0px 0px 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icon-night {
  display: none;
}

#icon-img {
  height: 60%;
  width: 60%;
  background-image: url(/images/Toggle-day.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

#icon-img-night {
  height: 60%;
  width: 60%;
  background-image: url(/images/Toggle-night.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin: auto;
}

#cv-icon {
  margin-left: 5px;
}

/* Mobile Version */

@media screen and (max-width: 768px) {
  #menu {
      height: 125px;
      margin-bottom: 134px;
      z-index: 10;
  }

  #mobile-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px;
      height: 48px;
      border-bottom: 1px solid black;
  }

  #hero {
      padding: 0 35px;
      position: relative;
      height: 610px;
  }

  #mobile-menu h1 {
      font-size: 16px;
      font-weight: 600;
  }

  #btn-close {
      font-size: 30px;
  }

  .hidden-mobile {
      display: none;
  }

  .hidden-desktop {
      display: block;
  }

  #menu ul {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      /* Alternatively, here could be used instead of 'top', 'left', 'right', 'bottom'. Utilizing 'width: 100vw' and 'height: 100vh' provides an alternative approach or I could use inset:0 */
      background-color: var(--primary-color);
  }

  .list-mobile {
      display: list-item;
      flex-grow: 1;
      /* This class is applied to both the first and second 'li' elements. 'flex-grow: 1' is employed to expand and center the remaining 'li' items within the menu */
      font-size: 30px;
      padding-right: 21px !important;
  }

  #menu li {
      margin: 0 !important;
      padding: 25px 0;
  }

  .hidden-menu {
      display: none !important;
  }

  #header-content {
      height: 100vh;
      /* Specifying in 'vh' considers the size of the display the website is viewed on. On the contrary, '100%' may exhibit somewhat unpredictable behavior. Delve deeper into the differences for a better understanding */
      padding: 0 35px;
  }

  #content-header {
      font-size: 28px;
      font-weight: 700;
  }

  #about-me-btn {
      padding: 8px 16px;
      background-color: var(--primary-color);
      border-radius: 6px;
      border-color: #00D1C7;
      border-style: solid 5px;
      font-size: 12px;
  }

  #sub-header {
      font-size: 24px;
      font-weight: 500;
  }

  .menu-holder {
      gap: 0;
  }

  .link {
      color: var(--text-primary);
  }
}
