#mySkills {
width: auto;
height: 529px;
display: flex;

}

#text-container{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 150px;
  
}

#my-skills-logo, #my-skills-logo-dark {
  width: 60%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-logo{
  margin-right: 100px;
  min-width: 100px;
}

#html-logo{
  width:107.05px;
  height:107.05px;
}

#css-logo{
  width:74.97px;
  height:107.05px;
}

#js-logo{
  width:107.05px;
  height:107.05px;
}

#cs-logo{
  width:107.05px;
  height:107.05px;
}

#sql-logo{
  width: 200.62px;
  height: 93.67px;
}

#git-logo{
  width: 226.18px;
  height: 93.67px;
}

#my-skills-logo-dark{
  display: none;
}

/* Mobile Version */

@media(max-width:768px){

  #mySkills {
  width: 100%;
  height: 719px;
  display: flex;
  flex-direction: column;
  margin-bottom: 85px;
  }

  #text-container{
    width: auto;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 35px;
    margin-bottom: 74px;
  }

  #text-container h2 {
    margin-top: 68px;
  }

  #text-container p {
    width: 323px;
    height: 72px;
    text-align: start;
  }

  #my-skills-logo, #my-skills-logo-dark {
    width: auto;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #my-skills-logo > div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }

  #my-skills-logo-dark > div {
    width: 50%;
    text-align: center;
    /* display: none; */
    /* adicionei o none porque depois que organisei de forma uniforme todos debaixo da categoria mobile, saiu do padrao*/
  }

  #my-skills-logo-dark {
   display: none;
    /* adicionei o none porque depois que organisei de forma uniforme todos debaixo da categoria mobile, saiu do padrao*/
  }

  .skill-logo{
    margin-right: 0px;
    min-width: 0px;
  }

  #html-logo{
    width:71.73px;
    height:71.73px;
  }

  #css-logo{
    width:50.9px;
    height:71.73px;
  }

  #js-logo{
    width:71.73px;
    height:71.73px;
  }

  #cs-logo{
    width:71.73px;
    height:71.73px;
  }

  #sql-logo{
    width: 110.76px;
    height: 51.71px;
  }

  #git-logo{
    width: 124.87px;
    height: 51.71px;
  }

  }