* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  width: auto;
  height: auto;
  color: var(--text-primary);
  line-height: 1.6;
  background-color: var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.section {
  transition: transform 1s, opacity 1s;
}

.scroll-offset {
  padding-top: 100px;
  border-top: 1px solid #ddd;
  padding-bottom: 60px;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.sub-title-markup {
  color: var(--text-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

#icon {
  width: 20px;
  height: 20px;
}

#icon:hover {
  color: #00D1C7;
}
h1,
h2 {
  line-height: 1.2;
}

hr {
  color: #FAFAFA;
  border-width: 1px;
  width: 50%;
  margin: auto;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.sub-title {
  font-weight: 700;
  color: var(--sub-title-color);
  font-size: 40px;
}

footer {
  width: auto;
  background-color: var(--secondary-color);
  color: var(--text-primary);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

.sub-text {
  font-weight: 300;
}

.sub-text-dark {
  font-weight: 300;
}

:root {
  --primary-color: white;
  --secondary-color: #00D1C7;
  --text-primary: #000E0E;
  --sub-title-color: #00D1C7;
  --fourth-color-: white;
  --third-color-: #000E0E;
  --main-header: url(/images/header.png);
  --media-background: url(/images/media.light.backg.png);
}

.dark-theme {
  --primary-color: #000E0E;
  --secondary-color: #1D2C33;
  --text-primary: white;
  --fourth-color-: #00D1C7;
  --third-color-: #00D1C7;
  --main-header: url(/images/night.header.png);
  --media-night-header: url();
}

.dark-theme #my-skills-logo-dark {
  display: flex;
}

.dark-theme #my-skills-logo {
  display: none;
}

.dark-theme #contact-logo-dark {
  display: flex !important;
}

.dark-theme #contact-logo {
  display: none !important;
}

.dark-theme #contact-1 {
  display: none;
}

.dark-theme #contact-1-dark {
  display: flex;
}

.dark-theme #dark-icon {
  display: none;
}

.dark-theme #contact-text {
  display: none;
}

.dark-theme #contact-text-dark {
  display: block;
}

.dark-theme .contact-icon,
.dark-theme .contact-icon-dark {
  display: none;
}

.dark-theme .contact-icon-dark {
  display: inline;
}

.dark-theme #icon-img {
  display: none;
}

.dark-theme #icon {
  display: none;
}

.dark-theme #icon-img {
  display: none;
}

.dark-theme #icon-night {
  display: flex;
}

.dark-theme #icon-img-night {
  display: flex;
}

.dark-theme #github-night {
  display: flex;
}

.dark-theme #linkedin-night {
  display: flex;
}

@media screen and (max-width: 400px) {
  .sub-title {
      font-weight: 700;
      color: var(--sub-title-color);
      font-size: 30px;
  }

  .sub-text {
      font-weight: 300;
      font-size: 15px;
  }

  .scroll-offset {
      padding-top: 20px;
  }

  footer {
      text-align: center;
  }
}
