* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: auto;
  height: auto;
  color: var(--text-primary);
  line-height: 1.6;
  background-color: var(--primary-color);
  font-family: 'Inter', sans-serif;
}

.section {
  transition: transform 1s, opacity 1s;
}

.scroll-offset {
  padding-top: 100px;
  border-top: 1px solid #ddd;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary);
}

#icon {
  width: 20px;
  height: 20px;
}

h1, h2 {
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.sub-title {
  font-weight: 700;
  color: var(--sub-title-color);
  font-size: 51px;
}

footer {
  width: auto;
  height: 40px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-text {
  font-weight: 300;
}

:root {
  --primary-color: white;
  --secondary-color: #00D1C7;
  --text-primary: black;
  --sub-title-color: #00D1C7;
  --main-header: url(/images/header.png);
  --media-background: url(/images/media.light.backg.png);
}

.dark-theme {
  --primary-color: #000000;
  --secondary-color: #1D2C33;
  --text-primary: white;
  --main-header: url(/images/night.header.png);
  --media-night-header: url();
}

.dark-theme #my-skills-logo-dark {
  display: flex;
}

.dark-theme #my-skills-logo {
  display: none;
}

.dark-theme #contact-logo-dark {
  display: flex;
}

.dark-theme #dark-icon {
  display: none;
}

@media screen and (max-width:400px) {
  body {
      width: 393px;
      height: 754px;
  }

  .sub-title {
      font-weight: 700;
      color: var(--sub-title-color);
      font-size: 30px;
  }

  .sub-text {
      font-weight: 300;
      font-size: 15px;
  }
  .scroll-offset {
    padding-top: 20px;
  }
}